<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="../images/nute_favicon.png" type="images/png">

    <link rel="stylesheet" type="text/css" href="../stylesheets/admin.css">
    <link rel="stylesheet" type="text/css" href="../semantic-ui/dist/semantic.min.css">

    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="../javascripts/admin.js"></script>
    <script src="../semantic-ui/dist/semantic.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet" type='text/css'>
    
    <title>
        <%= title %>
    </title>

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

</head>
<body>
    <div class="cont">
        <div><h1 style="font-family: 'Roboto', sans-serif;">가게 평면도</h1></div>
        <div id="seat_box" class="ui segment">
            <img class="seat_image" src="/images/mng_<%=storeName%>.jpg" alt="<%=storeName%>" style="width: 764px">
            <% if(storeName === 'gongdae2') { %>
                <img class="seat_image" src="/images/mng_gongdae3.jpg" alt="<%=storeName%>" style="width: 764px">
            <% } %>
        </div>
        <div style="display: flex; justify-content: center; margin: 4rem">
            <div class="ui selection dropdown">
                <input type="hidden" name="store">
                <div id="selected_store" class="default text"><%=storeName%></div>
                <div class="menu">
                    <div class="item dd_item" data-value="algo">알고탭하우스</div>
                    <div class="item dd_item" data-value="gongdae">공대오빠</div>
                    <!-- <div class="item dd_item" data-value="likechicken">치킨처럼</div> -->
                </div>
                <i class="big sort down icon"></i>
            </div>
            <div><button class="ui button store_button"><a href="/admin/<%=storeName%>" style="color: white;">확인</a></button></div>
        </div>
        <div id="form_box">
            <form class="ui form" id="seat_form" method="post">
                <h2 style="font-family: 'Roboto', sans-serif;">좌석 선택</h2>
                <div>
                    <div class="field">
                    <% for(let i = 1; i < seatNum + 1 ; i++) { %>
                            <div class="ui checkbox seat_checkbox"><input type="checkbox" id="seat<%=i%>" name="seat<%=i%>"><label><%=i%></label></div>
                    <% } %>
                    </div>
                </div>
            </form>
            <button class="ui button" id="submit_seat_button">제출</button>
        </div>
    </div>
</body>